@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

html, body{
	background:#dad7cd;
}

a{
	text-decoration:none;
	outline:none;
}

li{
    list-style-type: none;
}


.header{
    position: sticky;
    top: 0;
}

.content{
    padding:20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.error{
    color:red;
    display: block;
    margin-bottom: 6px;
}

.error_message{
    color: #ff0800;
    text-shadow: 1px 1px 1px 1px #4d5e66;
    display: block;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.message{
    display: block;
    color: #549c82;
    text-shadow: 1px 1px 1px 1px #4d5e66;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: 1px 1px 1px 1px #549c82;
}

.footer{
    background-color:#13293d;
    padding:20px;
}



table tr td{
    background-color:#dcdcdc;
    padding:10px;
}

.tr_destination{
    background-color:#dcdcdc;
    padding:10px;
}

.availability{
    display: flex;
    flex-flow: column;
}

.day-shifts-div{
    display: inherit;
    flex-flow: row;
    justify-content: center;
}


.day-div{
    display: inherit;
    flex-flow: column;
    margin: 3px;
    min-width: 380px;
    background-color: #5d677266;
    box-shadow: -2px -1px 1px 2px #4d5e66;
}

.shift-div{
    display: inherit;
    flex-flow: column;
    margin-right: 10px;
}

.driver-select{
    margin-right: 10px;
    height: 30px;
    align-self: center;
}

.vehicle-select{
    margin-right: 10px;
    height: 30px;
    align-self: center;
}

.show-stop{
    margin-right: 10px;
    height: 30px;
    align-self: center;
}

.check-box{
    display: inherit;
    flex-flow: column;
}

.individual-shift-check{
    display: inherit;
    flex-flow: column;
    width: 100%;
    padding-right: 5px;
    padding-bottom: 20%;
}

.individual-check{
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    margin: 1px;
}

.stops-box{
    display: none;
    visibility: hidden;
    flex-direction: row;
    margin: 1px;
    justify-content: center;
}

.stops-box-show{
    display: inherit;
    visibility: visible;
    flex-direction: row;
    margin: 1px;
    justify-content: center;
}

.day-name{
    text-align: center;
    background-color: #13293d;
    color: white;
}

#confirmation-row{
    justify-content: space-between;
}

.main-center{
    display: flex;
    justify-content: center;
}

.main-row{
    display: inherit;
    flex-flow: column;
    text-align: center;
    justify-content: center;
}

.centered-menu{
    display: inherit;
    flex-flow: row;
    justify-content: center;
    align-content: center;
}

.bt-a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #235789;
    color: #ffff;
    margin: 2px;
    padding: 1px;
    border: 3px solid #484538;
    border-radius: 2px;
}

.bt-a:hover{
    background-color: #13293d;
}

.bt-a:focus{
    background-color: #13293d;
}

#home-img{
    width: 32px;
    height: 32px;
}

#log-img{}

#log-img-out{
    width: 32px;
    height: 32px;
    margin-left: 6px;
}

#user-img{
    width: 32px;
    height: 32px;
}

.main-nav{
    background-color:#13293d;
    padding: 10px 15px 32px;
    height: content-box;
    display: flex;
    justify-content: space-between;
}

.log-div{
    color: white;
    width: 32px;
    height: 32px;
    font-size: 9px;
    text-align: center;
    display: inherit;
    flex-flow: row;
    justify-content: space-around;
}

.profile-div{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.table-button-container{
    margin-top: 15px;
    margin-right: 10px;
    display: inherit;
    flex-flow: column;
    text-align: center;
}

.listing-table{
    margin-top: 5px;
    text-align: center;
    box-shadow: 3px 3px 3px 4px #898989;
}

.forms-div{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.forms-buttons{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
}

.number-input{
    width: 100%;
}

#log-bt{
    width: 100%;
}

.ul-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #13293d;
}

.li-nav{
    list-style-type: none;
    margin-right: 6px;
}

.a-nav{
    color: white;
}

#links-bar{
    display: none;
    visibility: hidden;
}

#links-bar-show{
    display: inherit;
    visibility: visible;
}

#arrow-img-dow{
    width: 17px;
    height: 17px;
}

#arrow-img-up{
    width: 17px;
    height: 17px;
    transform: rotate(180deg);
}

.plan{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px 1px #898989;
    margin-bottom: 5px;
}

.dayOfWeek-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 0 1px 1px #304d66;
    border: 1px solid #444444;
    justify-content: space-evenly;
}

.shift-cell {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.direction-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px inset black;
}

.shift-cell{
    display: flex;
    flex-direction: column;
}

.stops-cell{
    display: flex;
    flex-direction: column;
}

.stop-cell{
    margin-left: 4px;
    display: flex;
    flex-direction: row;
}

.day-cell-label{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #13293d;
    flex-grow: 1;
    color: white;
}

/*
.tr-plan-warning{
    box-shadow: 3px 3px 5px 6px #b2b972;
}
#56a3a6
#484538
#2e5266
#dad7cd
#13293d
#235789
*/